<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/css/base.css'/>
        <style>
            div {
                display: block;
                margin-left: 20px;
                margin-top: 20px;
                width: 400px;
            }
        </style>
    </head>
    <body>
        <div>
            <input type='text' /> 
            <span> 管理员账号 </span>
        </div>
        <div>
            <input type='password' />
            <span> 管理员密码 </span>
        </div>
        <button>登录</button>
    </body>
</html>