<!DOCTYPE html>
<html>
    <% include head.ejs %>
    <script type="text/javascript" src='/js/index.js'></script>
    <link rel='stylesheet' href='/css/index.css'/>
    <body>
        <a class='left-btn'>上一页</a>
        <a class='right-btn'>下一页</a>
        <div class='container'>
            <div class='box box1' data-move='0'>
                投票页
                <div class='mask'></div>
            </div>
            <div class='box box2' data-move='60'>
                规则页
                <div class='mask'></div>
            </div>
            <div class='box box3' data-move='120'>
                金榜题名
                <div class='mask'></div>
            </div>
            <div class='show vote'>
                <h2 class='title'>投票主页</h2>
                <div class='intro'>
                    <p>请给他(她)献上一朵小红花吧,但落花虽有意,流水却无情。不知君是否能明白我心</p>
                    <img src="images/kawaii3.jpg" width="180" />
                </div>
                <a class='entry' target="_blank" href='/vote'>进入页面</a>
            </div>
            <div class='show rules'>
                <h2 class='title'>活动规则</h2>
                <div class='intro'>
                    <p>每人每月只有1次投票机会噢</p>
                    <img src='images/kawaii.jpg' width="200" />
                </div>
                <a class='entry' target="_blank" href='/rules'>进入页面</a>
            </div>
            <div class='show rank'>
                <h2 class='title'>琅琊榜</h2>
                <div class='intro'>
                   <p>哇，那个人好像很有魅力噢~</p>
                   <img src="images/kawaii2.jpg" width="200" />
                </div>
                <a class='entry' target="_blank" href='/rank'>进入页面</a>
            </div>
        </div>  
        <% include footer.ejs %>
    </body>
</html>