<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/css/base.css'/>
        <link rel='stylesheet' href='/css/index.css'/>
        <script type="text/javascript" src='/js/jquery-2.2.3.min.js'></script>
        <script type="text/javascript" src='/js/index.js'></script>
    </head>
    <body>
        <a class='left'></a>
        <a class='right'></a>
        <div class='container'>
            <div class='box box1' data-move='0'>
                投票页
                <div class='mask'></div>
            </div>
            <div class='box box2' data-move='60'>
                规则页
                <div class='mask'></div>
            </div>
            <div class='box box3' data-move='120'>
                金榜题名
                <div class='mask'></div>
            </div>
        </div>
        <div class='show'>

        </div>
        <% include footer.ejs %>
    </body>
</html>