<!DOCTYPE html>
<html>
    <% include head.ejs %>
    <link rel='stylesheet' href='/css/rules.css'/>
    <body>
        <% include header.ejs %>
        <div class='container'>
            <div class='banner'>
                <div class='headline'>规则详情</div>
                <p>1.每个人一个月都有一次机会向其他小伙伴送上一朵小红花,并附赠想说的话~
                   <a href='/vote' class='go-vote'>前去投票&gt;&gt;</a>
                </p>
                <p>2.赠送机会将于每个月的月初进行重置,所以还请各位小伙伴们请务必不要浪费每个月的机会啊~</p>
                <p>3.赠送者采用匿名的方式，因此，请大胆地表达内心的想法吧~</p>
                <p>4.琅琊榜将根据上个月的最终成绩进行排名，所以各位小伙伴都请加油~</p>
                <p>5.琅琊榜登榜者将有神秘礼物相送哦~</p>
            </div>
        </div>
        <% include footer.ejs %>
    </body>
</html>