<!DOCTYPE html>
<html>
    <% include head.ejs %>
    <link rel='stylesheet' href='/css/vote.css'/>
    <body>
        <% include header.ejs %>
        <div class="container">
            <div class='search'>
                <input type='text' />
                <button>搜索</button>
            </div>
            <div class='list'>
                <ul>
                    <li>

                    </li>
                </ul>
            </div>  
        </div>
        <% include footer.ejs %>
    </body>
</body>